.middle{
    display: flex;
    justify-content: space-between;
    margin:2rem 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 1rem;
}
.image{
    height: 15rem;
    width: 25rem;
}
.container{
    width: 25rem;
    height: 43rem;
    display: block;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
    border:1px solid #dbe1e7;
}
.price{
    color:rgb(37, 116, 219);
}

.desc{
    color:#617d98;
    padding: 0 1rem;
}